
<div id="mainContainer">
  <div id="backBox"></div>
  <p id="navText">Christian Michael Chapoco</p>
</div>

<h1 id="titleBanner"> {{title}} </h1>
<h3>Test1s</h3>


<div id="containerBox">
  <div id="mainBox"></div>
  <div id="mainTexts">
    <p id="firstText">Iron Man: asdad</p>
    <p id="secondText">Michael: Hi!</p>
  </div>
</div>

<app-heroes-lists></app-heroes-lists>